*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.todo{
    display: flex;
    width: 518px;
    font-size: 18px;
    border-bottom: 1px solid black;
    align-items: center;
    padding: 10px 0px;
    justify-content: space-between;
}
.root{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn{
    border: none;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}
.chkbox{
    border: 2px solid black;
    margin-right:8px;
}
.mainInput{
    width: 500px;
    padding: 14px;
    border-radius: 20px;
    border: 0;
    outline: none;
    -webkit-box-shadow: 0px 1px 11px 1px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: 0px 1px 11px 1px rgba(34, 60, 80, 0.17);
    box-shadow: 0px 1px 11px 1px rgba(34, 60, 80, 0.17);
    margin-left: 60px;
}
.btn-none{
    position: relative;
    border:none;
    font-size: 17px;
    background: white;
    right: 90px;
    top:2px
}
.todo-left{
    display: flex;
    align-items: center;
}
.task-com{
    text-decoration:overline;
}
